In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as skl

# Dados acerca da vacinação do COVID19 (1º e 2º dose) de vários países, obtidas através dos dados disponibilizados pelo ministério da saúde de cada país.

In [6]:
df = pd.read_csv('https://covid.ourworldindata.org/data/owid-covid-data.csv')

# Informações sobre a base de dados

In [10]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136036,ZWE,Africa,Zimbabwe,2021-11-22,133674.0,27.0,33.714,4699.0,0.0,0.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
136037,ZWE,Africa,Zimbabwe,2021-11-23,133674.0,0.0,24.143,4699.0,0.0,0.143,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
136038,ZWE,Africa,Zimbabwe,2021-11-24,133747.0,73.0,27.143,4703.0,4.0,0.571,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
136039,ZWE,Africa,Zimbabwe,2021-11-25,133774.0,27.0,25.857,4704.0,1.0,0.714,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
136040,ZWE,Africa,Zimbabwe,2021-11-26,133836.0,62.0,34.714,4704.0,0.0,0.714,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136041 entries, 0 to 136040
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    136041 non-null  object
 1   continent                                   127372 non-null  object
 2   location                                    136041 non-null  object
 3   date                                        136041 non-null  object
 4   total_cases                                 128515 non-null  float64
 5   new_cases                                   128510 non-null  float64
 6   new_cases_smoothed                          127470 non-null  float64
 7   total_deaths                                117278 non-null  float64
 8   new_deaths                                  117474 non-null  float64
 9   new_deaths_smoothed                         127470 non-null  float64
 10  total_cases_per_million                     127856 non-null  float64
 11  new_cases_per_million                       127851 non-null  float64
 12  new_cases_smoothed_per_million              126816 non-null  float64
 13  total_deaths_per_million                    116632 non-null  float64
 14  new_deaths_per_million                      116828 non-null  float64
 15  new_deaths_smoothed_per_million             126816 non-null  float64
 16  reproduction_rate                           107570 non-null  float64
 17  icu_patients                                16721 non-null   float64
 18  icu_patients_per_million                    16721 non-null   float64
 19  hosp_patients                               19134 non-null   float64
 20  hosp_patients_per_million                   19134 non-null   float64
 21  weekly_icu_admissions                       1301 non-null    float64
 22  weekly_icu_admissions_per_million           1301 non-null    float64
 23  weekly_hosp_admissions                      2097 non-null    float64
 24  weekly_hosp_admissions_per_million          2097 non-null    float64
 25  new_tests                                   56505 non-null   float64
 26  total_tests                                 56830 non-null   float64
 27  total_tests_per_thousand                    56830 non-null   float64
 28  new_tests_per_thousand                      56505 non-null   float64
 29  new_tests_smoothed                          68898 non-null   float64
 30  new_tests_smoothed_per_thousand             68898 non-null   float64
 31  positive_rate                               63713 non-null   float64
 32  tests_per_case                              63052 non-null   float64
 33  tests_units                                 70951 non-null   object
 34  total_vaccinations                          34982 non-null   float64
 35  people_vaccinated                           33411 non-null   float64
 36  people_fully_vaccinated                     30447 non-null   float64
 37  total_boosters                              7616 non-null    float64
 38  new_vaccinations                            29050 non-null   float64
 39  new_vaccinations_smoothed                   62628 non-null   float64
 40  total_vaccinations_per_hundred              34982 non-null   float64
 41  people_vaccinated_per_hundred               33411 non-null   float64
 42  people_fully_vaccinated_per_hundred         30447 non-null   float64
 43  total_boosters_per_hundred                  7616 non-null    float64
 44  new_vaccinations_smoothed_per_million       62628 non-null   float64
 45  new_people_vaccinated_smoothed              61443 non-null   float64
 46  new_people_vaccinated_smoothed_per_hundred  61443 non-null   float64
 47  stringency_index                            110828 non-null  float64
 48  population                                  135065 non-null  float64
 49  population_density                          123119 non-null  float64
 50  median_age                                  117292 non-null  float64
 51  aged_65_older                               115996 non-null  float64
 52  aged_70_older                               116652 non-null  float64
 53  gdp_per_capita                              118049 non-null  float64
 54  extreme_poverty                             78899 non-null   float64
 55  cardiovasc_death_rate                       117500 non-null  float64
 56  diabetes_prevalence                         121398 non-null  float64
 57  female_smokers                              91524 non-null   float64
 58  male_smokers                                90202 non-null   float64
 59  handwashing_facilities                      59138 non-null   float64
 60  hospital_beds_per_thousand                  106763 non-null  float64
 61  life_expectancy                             126466 non-null  float64
 62  human_development_index                     117611 non-null  float64
 63  excess_mortality_cumulative_absolute        4784 non-null    float64
 64  excess_mortality_cumulative                 4784 non-null    float64
 65  excess_mortality                            4784 non-null    float64
 66  excess_mortality_cumulative_per_million     4784 non-null    float64
dtypes: float64(62), object(5)
memory usage: 69.5+ MB

# Para este estudo,
No que tange à pandemia, analisaremos como a vacinação foi eficaz no combate ao número de mortes e infectados em escala continental e territorial.

# Análise Exploratória

## QUESTÃO 1,

## QUESTÃO 2,

## QUESTÃO 3,

## Questão 4,

## Questão 5,

# Aprendizado de Máquina

#